/*
Title: Assignment 1 – Environment Setup
Author: Richard Krasso
Date: 1/8/2023
Description: A PDF that instructs students on how to set up their environment for their assignments
*/
/*
Title: theme.css
Author: Professor Krasso
Date: 1/8/2023
Description: Demonstrates how to create CSS variables for website themes
*/

body.light-theme {
  --text-color: #000;
  --background-color: #fff;
  --anchor-color: #4f3674;
  --h1-background-color: #3c275a;
  --h1-border-color: #d6a800;
  --heading-background-color: #3c275a;
  --heading-color: #fff;
  --heading-border-color: #d6a800;
  --anchor-hover-color: #4f3674;
  --anchor-hover-background-color: #d6a800;
  --card-background-color: #fff;
  --card-title-color: #4f3674;
  --btn-background-color: #4f3674;
  --btn-color: #fff;
  --btn-hover-background-color: #d6a800;
  --btn-hover-color: #4f3674;
  --input-border-color: #ccc;
}

body.dark-theme {
  --text-color: #fafafa;
  --background-color: #303030;
  --anchor-color: #fff;
  --h1-background-color: #9c27b0;
  --h1-border-color: #9c27b0;
  --heading-background-color: #424242;
  --heading-color: #fff;
  --heading-border-color: #424242;
  --anchor-hover-color: #d176e1;
  --anchor-hover-background-color: #303030;
  --card-background-color: #424242;
  --card-title-color: #d176e1;
  --btn-background-color: #d176e1;
  --btn-color: #fff;
  --btn-hover-background-color: #7d4787;
  --btn-hover-color: #fff;
  --input-border-color: #303030;
}

body {
  font-family: "Oswald", Verdana, Arial, sans-serif;
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a:hover {
  background-color: var(--anchor-hover-background-color);
  color: var(--anchor-hover-color);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-title {
  color: #4f3674;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

.card-content {
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  color: #000;
  text-align: center;
}

.btn-primary {
  background-color: #4f3674;
  color: #fff;
}

.btn-primary:hover {
  background-color: #d6a800;
  color: #4f3674;
}

.input,
.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




#icon-mode:hover {
  cursor: pointer;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

#icon-text {
  padding-left: 10px;
}

.pull-right {
  float: right;
}

#container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: var(--heading-color);
  background-color: var(--h1-background-color);
  padding: 10px;
  border: 1px solid var(--h1-border-color);
}

h2,
h3,
h4 {
  color: var(--heading-color);
  background-color: var(--heading-background-color);
  padding: 10px;
  border: 1px solid var(--heading-border-color);
}

.card {
  background-color: var(--card-background-color);
}

.card-title {
  color: var(--card-title-color);
}

.btn-primary {
  background-color: var(--btn-background-color);
  color: var(--btn-color);
}

.input {
  border-color: var(--input-border-color);
}

.drop-down-menu {
  border-color: var(--input-border-color);
}

/* week 4 additions */

body.light-theme {
  --text-color: #000;
  --table-header-background-color: #4f3674;
  --table-header-color: #fff;
  --table-border-color: #ddd;
  --table-hover-background-color: #D6A800;
  --table-hover-color: #4f3674;
}

body.dark-theme {
  --table-header-background-color: #d176e1;
  --table-header-color: #fff;
  --table-border-color: #303030;
  --table-hover-background-color: #7d4787;
  --table-hover-color: #fff;
}


/* copied from my 231 CSS*/
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

th {
  padding: 12px 0 12px;

  text-align: left;
  background-color: #4f3674;
  color: #fff;
}

tr:hover {
  color: #4f3674;
  background-color: #d6a800;
}

td,
th {
  border: 1px solid #ddd;
}

.table th {
  background-color: var(--table-header-background-color);
  color: var(--table-header-color);
}

td,
th {
  border: 1px solid var(--table-border-color);
}

tr:hover {
  background-color: var(--table-hover-background-color);
  color: var(--table-hover-color);
  cursor: pointer;
}
